<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PassDrive</title>
</head>
<body>
    <h1>PassDrive</h1>
    <p>PassDrive is a password manager that helps you to manage your passwords and keep them safe.</p>
    <div name="masterpassword" id="login" style="display: none;">
        <label for="master">Master Password</label>
        <input type="password" name="master" id="masterp" />
        <button id="login-btn">Login</button>
    </div>
    <div name="save_ignore" id="ignore_save" style="display: none;">
        <label for="save">Do you want to save the password</label>
        <button id="save-btn">Save</button>
        <button id="ignore-btn">Cancel</button>
    </div>
    <div name="accept_ignore" id="ignore_accept" style="display: none;">
        <label for="save">Do you want to save the password</label>
        <button id="accept-btn">Accept</button>
        <button id="ignore-b">Cancel</button>
    </div>
    <div id="logged" style="display: none;">Loggedin!</div>
    <div id="error" style="color:red; display:none">Error signing in!</div>
    <script src="../popup.js"></script>
</body>
</html>